.card-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}

.card-container-author {}

.card-container-description {}

.card-container-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleted {
    text-decoration: line-through;
}