/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html,
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    height: 100%;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}